.footer {
  background-color: #9a5825;
  color: #f5e8d0;
  padding: 60px 80px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-logo {
  flex: 1;
  min-width: 280px;
}

.footer-logo .brand {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
}

.footer-logo .highlight {
  color: #f9c74f;
}

.footer-logo p {
  max-width: 300px;
  font-size: 15px;
  color: #f3e6d5;
  line-height: 1.6;
}

.footer-nav {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 17px;
  list-style: none;
}

.footer-nav li {
  cursor: pointer;
  transition: color 0.3s;
}

.footer-nav li:hover {
  color: #f9c74f;
}

.divider {
  border: 0;
  border-top: 1px solid #b67a4e;
  margin: 30px 0;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-column h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 15px;
  color: #f3e6d5;
  margin: 5px 0;
}

.footer-socials {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.footer-socials svg {
  background: #f3e6d5;
  color: #9a5825;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
}

.footer-socials svg:hover {
  background: #f9c74f;
  transform: scale(1.1);
}

.newsletter {
  display: flex;
  margin-top: 10px;
  border: 1px solid #f3e6d5;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f3f3e1;
  color: #333;
  font-size: 14px;
}

.newsletter button {
  background-color: #d29a43;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  margin-top: 20px;
  color: #f3e6d5;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #f3e6d5;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #f9c74f;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 30px;
  }

  .footer-top,
  .footer-middle {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-nav {
    gap: 15px;
  }
}
.footer-logo-img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  object-fit: contain;

}

